html{
   height: 100%;
}

body {
  background-color: #ffffff;
  font-family: "Myriad Pro Semibold", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  margin:0px 0px; 
  padding:0px;
  text-align:center;
  overflow: hidden;
  height: 100%;
}
#wrapper {
  /* padding-top: 0px; */
  /*transform: scale(0.5);*/
}

#lumen-canvas{
  border-radius: 3px 3px 5px 5px;
  margin:0px auto;
  text-align:left;
  background: linear-gradient(to bottom, #fffeff 0%,#dae0f6 100%); /* W3C */
  /*width: 640px;
  height: 1135px;*/
  color: #4F5464;

  /* height: 100%; */
}


.phase {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}


.phase.evening {
  /* position: absolute; */
  /* top: 800px; */
}

.phase h2 {
	font-family: "Myriad Pro Light", "Myriad Pro Semibold", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.0em;
  font-weight: 200;
  letter-spacing: -1px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.phase h3 {
  opacity: 1;
  font-size: 1.0em;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 0;
}

.current-time {
  color: #34AFDA;
  background: -webkit-linear-gradient(#34AFDA, #34AFDA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0px;
  font-size: 0.9em;
  top: 40px;
  font-weight: 400;
  width: 100%;
}
.current-time .time {
  padding-left: 30px;
}

.current-time .circle {
  width: 6px;
  height: 6px;
  border: 1px solid #34AFDA;
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  position: inline-block;
  float:right;
  margin-top: 4px;
}
.current-time .line {
  width: calc(100% - 110px);
  float: right;
  border-top: 1px solid #34AFDA;
  margin-top: 7.5px;
}

.overflow-hidden {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}
.time-dividers {
  position: absolute;
  right: 0;
  top: -100px;
  text-align: right;
}

.time-dividers b, 
.time-dividers u, 
.time-dividers i {
  display: block;
  width: 20px;
  color: #34AFDA;
  border-top: 1px solid #34AFDA;
  height: 40px;
  margin-left: auto;
}
.time-dividers b {
  text-align: left;
  line-height:0.1em; 
  border-top: 1px solid #34AFDA;
} 
.time-dividers b em { 
  /*width:200px; */
  font-style: normal;
  float: left;
  left: -40px;
  position: absolute;
  font-size: 0.7em;
  font-weight: normal;
}

.time-dividers u {
  width: 10px;
}
.time-dividers i {
  width: 5px;
}
.phase .actions .action.second {
  border: 2px solid #3F7FD2;
}

.phase .actions .action {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  border: 2px solid #34AFDA;
  /*
  background-image: -moz-linear-gradient(center bottom, #3F7FD2, #34AFDA);
  border-image: linear-gradient(to top, #34AFDA,  #3F7FD2) 1 100%;*/
  behavior: url(PIE.htc); 

  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
  text-decoration: none;
  opacity: 0.8;
  cursor: default;
  line-height: 1em;
  color: #4F5464;
  text-align: center;
  cursor: default;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);

  /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
  background-image: -moz-linear-gradient(center bottom, #34AFDA 33%,  #3F7FD2 67% );
  padding: 2px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  */
}

.phase .actions .action:hover {
  opacity: 1;
}
.phase .actions .action b {
  text-decoration: none;
  size: 1em;
  font-size: 1em;
  color: #4F5464;
  padding-top: 40px;
  display: block;
  text-align: center;
  cursor: default;
  font-weight: 100;
}


/* iPhone 5 in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { /* STYLES GO HERE */

  .phase {
    padding-left: 20px;
    padding-right: 20px;
  }

  .phase .actions .action {
    margin-top: 20px;
    margin-right: 20px;
  }
  .current-time .time {
    padding-left: 20px;
  }
  .current-time .line {
    width: calc(100% - 100px);
  }
}
